@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #root {
    height: 100%;
  }
  body {
    font-family: theme("fontFamily.sans");
    background-color: theme("colors.zinc.50");
    color: theme("colors.zinc.900");
  }
  html.dark body {
    background-color: theme("colors.zinc.950");
    color: theme("colors.zinc.100");
  }
}
